*{
	margin: 0;
	padding: 0;
}
#astroid-belt{

	height: 400px;
	width: 1250px;
	background-color: #07071b;
	overflow: hidden;
}
.ball{
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	background-color: red;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	position: absolute;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
	margin: 10px 0px;
	padding:12px;
}
.isa_info {
	color: #00529B;
	background-color: #BDE5F8;
}
.isa_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.isa_warning {
	color: #9F6000;
	background-color: #FEEFB3;
}
.isa_error {
	color: #D8000C;
	background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
	margin:10px 22px;
	font-size:2em;
	vertical-align:middle;
}

.restrict-width{
	width : 600px;
}

img{
	cursor: pointer;
}